@{
    ViewData["Title"] = "Доступ заборонено";
}

<header>
    <h1 class="text-danger">Доступ заборонено.</h1>
    <p class="text-danger">У вас немає прав для перегляду вмісту цієї сторінки.</p>
</header>
