@{
    ViewData["Title"] = "Access Denied";
}
<header>
    <h3 class="text-danger">Access Denied.</h3>
    <p class="text-danger">Sorry, but you do not have permission to view the contents of this page.</p>
</header>
