@{
    ViewData["Title"] = "Доступ заборонено";
}
<header>
    <h3 class="text-danger">Доступ заборонено.</h3>
    <p class="text-danger">Присимо вибачення, але у Вас немає прав для перегляду вмісту цієї сторінки.</p>
</header>
