@{
    ViewData["Title"] = "Check our email";
}

<h3>@ViewData["Title"].</h3>
<div>
    <p>
        Your account has been created. Please check the mail and complete the registration. <a asp-controller="Home" asp-action="">Index</a>.
    </p>
</div>
