@{
    ViewData["Title"] = "Перевірте пошту";
}

<h3>@ViewData["Title"].</h3>
<div>
    <p>
        Ваш аккаунт створено. Будь ласка, перевірте пошту і завершіть реєстрацію. <a asp-controller="Home" asp-action="">Index</a>.
    </p>
</div>
