@{
    ViewData["Title"] = "Підтвердження Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Ваш E-mail підтвердженно. Будь ласка <a asp-controller="Account" asp-action="Login">натисність сюди, щоб увійти</a>.
    </p>
</div>
