@{
    ViewData["Title"] = "Email Confirmed";
}

<h3>@ViewData["Title"].</h3>
<div>
    <p>
        Your E-mail is confirmed. Please <a asp-controller="Account" asp-action="Login">click here to sign in</a>.
    </p>
</div>
