@{
    ViewData["Title"] = "Your password has been reset";
}

<h3>@ViewData["Title"].</h3>
<p>
    Your password has been reset. Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
</p>
