@{
    ViewData["Title"] = "Пароль скинуто";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль скинуто. Будь ласка <a asp-controller="Account" asp-action="Login">натисність сюди, щоб увійти</a>.
</p>
