html {
    background: #0c2856;
}
hr {
    display: none;
}
body {
    max-width: 1150px;
}
.band {
    float: right;
}

p {
    font-size: 15px;
    margin: 15px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #16354A;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    opacity: 0.8;
}
