@model IEnumerable<BattleBands.Models.ApplicationUser>
@{
    ViewBag.Title = "List of users";
}
<a asp-action="UserRoles" class="btn btn-sm">Ролі користувачів</a>


<a asp-action="Roles" class="btn btn-sm">Ролі</a>


<a asp-action="CreateUser" class="btn btn-sm">Добавити користувача</a>

<table class="table">
    <tr><th>Email</th><th>Рік</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-id="@user.Id">Поміняти</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Змінити пароль</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
    }
</table>