@model IEnumerable<BattleBands.Models.ApplicationUser>
<a asp-controller="Admin" asp-action="Roles" class="btn btn-sm">Все роли</a>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="EditUserRole" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>