@{
    ViewData["Title"] = "NewArtist";
}
@model BattleBands.Models.ApplicationPerformer
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/NewArtist/NewArtist.css" />
    </environment>
</head>

<body>
    @inject UserManager<ApplicationUser> _usrMng
    <div class="container">
        <div class="col-md-6">
            <form class="registration" asp-action="CreatePerformer" method="post" id="frm">
                <!--NEED CHANGE ACTION PAGE-->
                <p>
                    <label for="PerformerIsBand">Виконавець:</label><br />
                        <input type="radio" asp-for="PerformerIsBand" value="True" checked> Група<br>
                        <input type="radio" asp-for="PerformerIsBand" value="False"> Соло
                </p>
                <p>
                    <label for="PerformerName">Ім'я виконавця (Назва групи):</label><br />
                    <input type="text" asp-for="PerformerName" size="30" required>
                </p>
                <p>
                    <label for="PerformerGenre">Стиль/жанр:</label><br />
                    <input type="text" asp-for="PerformerGenre" size="30" required>
                </p>
                <p>
                    <label for="PerformerCountry">Країна:</label><br />
                    <input type="text" asp-for="PerformerCountry" placeholder="Ukraine" size="30" required>
                </p>
                <p>
                    <label for="PerformerPhone">Контактний телефон:</label><br />
                    <input type="text" asp-for="PerformerPhone" placeholder="0936912791" size="30" required>
                </p>
                <p>
                    <label for="PerformerEmail">Email:</label><br />
                    <input type="email" asp-for="PerformerEmail" placeholder="example@gmail.com" size="30" required>
                </p>
                <p>
                    <b>Load your Artist image or logo of the band:</b><br>
                    <input type="file" id="imageFile" accept="image/*">
                </p>
                <p>
                    <br />
                    <b>Load your audio file:</b><br>
                    <input type="file" id="audioFile" accept="audio/*">
                </p>
                <p>
                    <br />
                    <b>Load your video file:</b><br>
                    <input type="file" id="videoFile" accept="video/*">
                </p>

                <p>
                    <label for="PerformerDescription">Опис:</label><br />
                    <textarea name="comment" id="txtarea" runat="server" textmode="multiline" form="frm" asp-for ="PerformerDescription" cols="50" rows="5"></textarea>
                </p>
                <p>
                    <input type="submit" class="button" value="Send" width="200">
                    <input type="reset" class="button" value="Clear">
                </p>
            </form>
        </div>

        <div class="col-md-6">
            <div class="band">
                <img src="~/images/NewArtist/BandClipart.png" />
            </div>
        </div>
    </div>

</body>

</html>