@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BattleBands.Models.ApplicationVideo>

@if (Model.Count() == 0)
{
    <p>No videos added.</p>
}
else
{
    @foreach (var video in Model)
    {
        <a asp-action="ViewPerformerVideo" asp-route-id="@video.VideoId">@video.VideoName</a><br />
    }
}