@{
    ViewData["Title"] = "Відео";
}
@model BattleBands.Models.PerformerViewModels.GetVideoAndInfoViewModel
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/Media/Video.css" />
    </environment>
</head>
<body>
    <div class="row">
        <br />
        <br />
       <br />
        <b>@Model.video.VideoName</b><br />
        
        <figure>
            <iframe src="https://www.youtube.com/embed/@Model.reference.Query.Substring(3)" frameborder="0" allowfullscreen></iframe>
        </figure>
        <b>Description:</b> @Model.video.VideoDescription<br />
        
        <a asp-action="EditVideo" asp-route-id="@Model.video.VideoId">Edit</a>
        <a asp-action="DeleteVideo" asp-route-id="@Model.video.VideoId">Delete</a>


    </div>
</body>
</html>