@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="text-right">
        <p>You are logged us - @User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="LogOff">
            <input type="submit" value="Выход" class="btn btn-sm btn-primary" />
        </form>
    </div>
}

<address>
    Ukraine<br />
    Lviv, Naгkova 7G<br />
    <abbr title="Phone">P:</abbr>
    +38(093)6912 791
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>