@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/Home/Home.css" />
    </environment>
</head>
<body>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="blocks">
                    <a href=""><!-- href до конкретної сторінки групи-->
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine" >
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="block">
                            <img src="~/images/Events/faine.jpg" class="img-thumbnail" alt="Faine">
                            <p><b>Назва групи</b></p>
                            <p>Жанр групи</p>
                            <p>Країна</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>