@{
    ViewData["Title"] = "Music";
}
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/Media/Music.css" />
    </environment>
</head>
<body>
    <div class="row">
        <h4>Your favorite music only in one our place!</h4>

        <div id="header">
            <form id="new_search" method="get" action="http://www.google.com">
                <!--action потрібно поміняти-->
                <input type="text" id="tfq" class="text_input" size="40" maxlength="100" value="Alice in Chains Nutshell">
                <input type="submit" value="Find" class="search_btn">
            </form>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>