@{
    ViewData["Title"] = "Виконавці";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h2>Наші виконавці!</h2>

<a asp-controller="Home" asp-action ="NewPerformer" class="btn btn-default">Новий виконавець</a>
