@{
    ViewData["Title"] = "SignIn";
}
<environment names="Development">
    <link rel="stylesheet" href="~/css/SignIn/SignIn.css" />
</environment>

<div id="idmodal" class="modal">
    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.cshtml"><!--action_page need to change -->
        <div class="imgcontainer">
            <img src="~/images/SignIn/SignIn.png" alt="Avatar" class="avatar">
        </div>

        <div class="text-center">
            <label><b>Username:</b></label><br />
            <input type="text" placeholder="Enter Username" name="uname" required>

            <br />
            <label><b>Password:</b></label><br />
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <input type="checkbox" checked="checked"> Remember me
        </div>

        <div class="signcontainer" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('idmodal').style.display = 'none'" class="cancelbtn">Cancel</button>            
            <a asp-area="" asp-controller="Home" asp-action="SignUp">Registration</a>
            <span class="psw">Forgot <a href="#">password?</a></span>            
        </div>
    </form>
</div>