@model BattleBands.Models.ViewModels.VideoViewModels.PerformerGetVideosViewModel
@{
    ViewBag.Title = "All Videos";
}
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/Performer/AddVideo.css" />
    </environment>
</head>
<body>
    <h3>@ViewData["Title"]:</h3>
    @if (Model.Video.Count() == 0)
    {
        <p>No videos added.</p>
    }
    else
    {
        @foreach (var video in Model.Video)
        {
            <a asp-action="ViewVideo" asp-route-id="@video.VideoId">@video.VideoName</a><br />
        }
    }
    <p></p>
    <a asp-controller="Performer" asp-action="ProfilePerformer" asp-route-id="@Model.ID" class="btn btn-default">Back</a>
</body>
</html>