@{
    ViewData["Title"] = "NewArtist";
}
@model BattleBands.Models.ApplicationEvent
<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/NewArtist/NewArtist.css" />
    </environment>
</head>

<body>
    <div class="container">
        <div class="col-md-6">
            <form class="registration" asp-action="CreateEvent" method="post">
                <p>
                    <label for="EventName">Event name:</label><br />
                    <input type="text" asp-for="EventName" size="30" required>
                </p>
                <p>
                    <label for="EventPlace">Place:</label><br />
                    <input type="text" asp-for="EventPlace" size="30" required>
                </p>
                <p>
                    <label for="EventTime">Date and time:</label><br />
                    <input type="text" asp-for="EventTime" size="30" required>
                </p>
                <p>
                    <label for="EventDescription">Description:</label><br />
                    <textarea name="comment" asp-for="EventDescription" cols="50" rows="5"></textarea>
                </p>
                <p>
                    <input type="submit" class="button" value="Send" width="200">
                    @*<input type="reset" class="button" value="Clear">*@
                </p>
            </form>
        </div>

        @*<div class="col-md-6">
            <div class="band">
                <img src="~/images/NewArtist/BandClipart.png" />
            </div>
        </div>*@
    </div>

</body>

</html>